encryption = "age"
[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age13nd9yn77lxp4fly85kme9t0dtzhmum473rmdw0ujahduh4z67ffsrhjqmz"
    command = "rage"

[data]
    email = doug@phoenox.net
    # Set data variables based on the machine name
    machine = "{{ .chezmoi.hostname }}"
    os = "{{ .chezmoi.os }}"
    home = "{{ .chezmoi.homeDir }}"

[diff]
command = "delta"
pager = "delta"

# changes will be automatically pushed to the remote repository after applying.
[git]
autoPush = true

# The source directory for Chezmoi
sourceDir = "{{ .chezmoi.sourceDir }}"

