#!/bin/sh

DIR="$HOME/.config/chezmoi"






if [ ! -f "$DIR/key.txt" ]; then
    if [ ! -d $DIR ]; then mkdir $DIR; fi
    chezmoi age decrypt --output "$DIR/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/key.txt.age"
    chmod 600 "$DIR/key.txt"
fi
